@model IEnumerable<attendance.Models.facultyCourse>

@{
    ViewBag.Title = "Assigning course to faculty";
}

<h2>Course to Faculty</h2>


<table class="table">
    <tr>
        <th>
            Course Name
        </th>
        <th>
            Faculty Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>

<button class="btn btn-dark">
    @Html.ActionLink("Assign Course", "Create")
</button>
<button class="btn btn-dark">
    @Html.ActionLink("Faculty List", "Index", "Faculties")
</button>