@model attendance.Models.attendanceModel
@{
    ViewBag.Title = "Generate Report";
}

<h2>FilterData</h2>

<form id="form1" runat="server" method="post" enctype="multipart/form-data" action="/attendanceModels/filterViewInd">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>attendanceModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.date, "Select", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" id="date" name="select">
                    <option value="1">Daily</option>
                    <option value="2">Weekly</option>
                    <option value="3">Monthly</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.timeTableId, "studentId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("studentId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.studentId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>



@{
    ViewBag.Title = "FilterDataInd";
}

<h2>FilterDataInd</h2>

