@model IEnumerable<attendance.Models.attendanceModel>

@{
    ViewBag.Title = "Attendence";
}

<h2>Taking Attendence</h2>
<button class="btn btn-dark"> @Html.ActionLink("Generate Report", "FilterData")</button>
<button class="btn btn-dark"> @Html.ActionLink("Generate Individual Report", "FilterDataInd")</button>
<button class="btn btn-dark"> @Html.ActionLink("Absent Students", "AbsentStudent")</button>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.StudentName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.startTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.remarks)
    </td>
    <td>
        @item.date
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CourseName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.status)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
        @Html.ActionLink("Details", "Details", new { id = item.id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.id })
    </td>
</tr>
}

</table>

<button class="btn btn-dark">@Html.ActionLink("Take Attendence", "SelectClass")</button>